<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- Favicon -->
      <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon" />
      <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Web Fonts  -->
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
      <!-- Vendor, Theme CSS -->
      <link rel="stylesheet" href="{{ "/asset/css/main.css" | prepend: site.baseurl }}">
      <!-- Current Page CSS -->
      <link rel="stylesheet" href="{{ "/asset/css/rs-plugin-settings.css" | prepend: site.baseurl }}" media="screen">
      <link rel="stylesheet" href="{{ "/asset/css/circli-flip-component.css" | prepend: site.baseurl }}" media="screen">

      <!-- Head Libs -->
      <script src="{{ "/asset/js/vendor/modernizr.js" | prepend: site.baseurl }}"></script>
      <!--[if IE]>
      <link rel="stylesheet" href="asset/css/ie.css">
      <![endif]-->


</head>
